.homepage{
  // height: 100%;
  // border: 1px solid green;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // padding-bottom: 5%;
}

.shiftImage{
  text-align: center;
}

.shiftImage .theImage{
  width: 50%;
  display: block;
  margin: auto;

  @media screen and (min-width: $small){
    width: 30%;
    // border: 1px solid red !important;
  }
  @media screen and (min-width: $medium){
    width: 15%;
  }
  @media screen and (min-width: $large){
    // width: 7.5%;
  }
}


.currnetShiftValue{
  font-size: 6rem;
}
